/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
}

#footer {
  width: $news-width;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

#footer a {
    color: #1e61ab;
    text-decoration: none;
}
