/* ==========================================================================
   Footer
   ========================================================================== */

.site-footer {
}

#footer {
  clear: both;
}

#footer a {
    text-decoration: none;
}

#footer li {

    line-height: 20px;

}

