html {}
body {
	background-color: $body-background-color;
  margin: 8px;
}

p {
	line-height: 140%;
}

hr{
  width: 94%;
}

a {
	color: #333333;
	text-decoration: $link-decoration;
	&:hover {
		color: $link-hover-color;
		text-decoration: $link-hover-decoration;
	}
}

h1 {
	font-size: 37px;
	line-height: 37px;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.125em;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $header-font-family;

}

*,
:before,
:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



.blog #news {
	color: #666666;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}


.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  #left, #news {
    width: 100% !important;
  }
  #sidebar {
    float: left !important;
    width: 100% !important;
    padding: 0 25px!important;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  #news .article-left, #news .article-right {
    width: 100%;
  }
  #commentform textarea {
    width: 100%;
  }
}
